@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar {
  background-color: #99aaa4;
  /* min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: calc(10px + 2vmin); */
  /* padding: 0 2vw; */
  padding:6px 20px;
  font-family: "Quicksand", sans-serif;
}

.main {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("/public/genhis4k.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.slider {
  padding: 50px 30px 30px; /* Adjust the top padding as needed */
}
